body {
	background-image: url(../images/dots.png);
	background-color: #55C0B4;
	font-family: 'Montserrat', sans-serif;
} 

.logo {
   padding-top: 50px;
   padding-bottom: 50px;
}

.main {
	background-color: #55C0B4;
	color: #00A0A6;
	padding-bottom: 50px;
}

.carousel-control.left, .carousel-control.right{ 
    background: none !important;
    filter: progid:none !important;>
}

.right.carousel-control, .left.carousel-control {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}

.mynav {
	.background-color: #00A0A6;
	.padding-top: 5px;
	.padding-bottom: 5px;
}

.navbar {
    color: #FFF;
    background-color: #00A0A6;
}

.text {
	.margin-top: 35px;
	padding-top: 25px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
	background-color: #FFF;
	border-radius: 15px;
}

.textr {
	.margin-top: 35px;
	padding-top: 25px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
	background-color: #57C0B3;
	border-radius: 15px;
	color: #FFF;
}

.maintext-main {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #57C0B3;
}

.ah-ha-video {
	padding-top: 5px;
}

.maintext {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #57C0B3;
}

.jumbotron{
	color: #00A0A6;
    background-color:transparent !important; 
}

.col-lg-12 main {
	padding-top: 30px;
}